  .button{
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 1.3em;
	position: relative;
	padding: 10px;
}
        a.button.five:after{
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;

	width: 0%;
	height: 100%;

	border-bottom: 2px solid white;

	transition: width 0.4s ease;
}

a.button.five:hover:after{
	left: 0;
	width: 100%;
	transition: width .4s ease;
}